.header {
    margin-top: 10px;
    width: 100%;
    height: 90px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: var(--main-color);
}

.img {
    margin: 0 10px;
}